<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>Rusty Atom</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<style>
    body    { padding-top:50px; }
</style>
<script src="js/scripts.js"></script>
<script src="js/controller.js"></script>

<h1 class="page-header">
    Dashboard
    <p class="lead">(<a href="http://www.bootply.com/128936">with off-canvas sidebar</a>)</p>
  </h1>