<div class="col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar" role="navigation">
    
      <!-- <ul class="nav nav-sidebar">
          <li><a href="#"><strong>Overview</strong></a></strong></a></li>
      </ul> -->
      <script>
        function getTasks(id, name){
          $.post("/tasksByProject",{id:id},function(data){
            document.getElementById("todo").innerHTML="<b>To Do</b>";
            document.getElementById("inprogress").innerHTML="<b>In Progress</b>";
            document.getElementById("done").innerHTML="<b>Done</b>";
            for(var i=0; i<data.length; i++) { 
                var status = data[i].status;
                switch(status){
                  case 1:''
                          document.getElementById("todo").innerHTML+="<li class='listElement'>"+data[i].name+"</li>";
                          break;
                  case 2:
                          document.getElementById("inprogress").innerHTML+="<li class='listElement'>"+data[i].name+"</li>";  
                          break;
                  case 3:
                          document.getElementById("done").innerHTML+="<li class='listElement'>"+data[i].name+"</li>";    
                          
                }
            }
          });
        }

        function getProjects(id, name){
            document.getElementById("sidebar").innerHTML = "";
            document.getElementById("sidebar").innerHTML = "<div class = 'sidebarCategory'>" + name + "</div>";
            $.post("/projectsByTeam", {id:id},function(data){

              for(var i=0; i<data.length; i++) {
                var litem = "<button class = 'sidebarButton' onclick='getTasks("+data[i].id+")'>"+data[i].name+"</button>"
                document.getElementById("sidebar").innerHTML += litem;
              }
            });
        }
      </script>

        <% for(var i=0; i<teams.length; i++) { %>
           <button class = 'sidebarButton' onclick='getProjects(<%= teams[i].id %>, "<%= teams[i].name %>")'><%= teams[i].name %></a>
           <!-- <li><button onclick="getProjects(<% teams[i].id %>, <% teams[i].name %>)"></button></li>  -->
        <% } %>
   
 </div><!--/span-->