<div class="col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar" role="navigation">
    
      <ul class="nav nav-sidebar">
          <li><a href="#"><strong>Overview</strong></a></strong></a></li>
      </ul>

      <ul class="nav nav-sidebar">
      <ul>
          <% for(var i=0; i<teams.length; i++) { %>
             <li><a href='teams/<%= teams[i] %>'><%= teams[i] %></a></li>
          <% } %>
      </ul>
   
 </div><!--/span-->